<footer class="border-top d-flex flex-column justify-content-center ">
    <div class="wrapper-01 d-flex flex-column gap-2">
        <div class="sm-icons ">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-solid fa-paper-plane"></i>
        </div>
        <div class="other-links ">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Company details</a>
        </div>
        <div class="brand-logo ">
            <p>&copy;2025 xD's App</p>
        </div>
    </div>
</footer>